# Problem on string

1.	Slicing - Basic: Given the string text = "Programming", write the code to extract and print the substring "gram".
  
3.	Slicing - Negative Indexing: Given the string data = "Python_Expert", write the code to extract and print the substring "Expert" using only negative indices.


5.	Length and Access: Store your full name in a variable full_name. Print both the total length of the string and the character at the very first index.


7.	Case Conversion: Write a program that asks the user for a word and then prints that word three times: once in all uppercase, once in all lowercase, and once with only the first letter capitalized.


9.	Splitting and Joining: Given the string sentence = "Python is powerful", first split the string into a list of words. Then, join the words back into a single string using a hyphen (-) as the separator.


11.	Finding and Indexing: Given haystack = "banana, apple, orange", find the starting index of the word "apple" within the string. Then, use the .replace() method to change "apple" to "kiwi" and print the result.


13.	Stripping Characters: Given the string messy = " ***Hello World*** \n", use a single operation to remove both the leading/trailing whitespace and the asterisk characters (*).


15.	Checking Prefix/Suffix: Write a conditional statement that checks if the string filename = "report.pdf" ends with .pdf AND if it starts with report. Print "File is valid" if both conditions are true.


17.	String Multiplication: Use string multiplication to create and print a string consisting of ten dollar signs ($).


19.	String Formatting (f-string and alignment): Given item = "Laptop" and price = 999.99, use a single f-string to print the output as:
Item: Laptop | Price: $999.99

In [1]:
text = "Programming"

In [3]:
text[3:7]

'gram'

In [5]:
data = "Python_Expert"

In [7]:
data[-6:]

'Expert'

In [1]:
var = "Harry Potter"

In [2]:
len(var)

12

In [3]:
var[0]

'H'

In [6]:
user_ip = input("Enter a name")
print(user_ip.upper()*3)
print(user_ip.lower()*3)
print(user_ip.title()*3)

Enter a name Falcon

FALCON FALCON FALCON
falcon falcon falcon
Falcon Falcon Falcon

In [12]:
sentence = "Python is powerful"

In [13]:
lst1 = sentence.split(" ") #store data in list 
print(lst1)

['Python', 'is', 'powerful']

In [14]:
"-".join(lst1)

'Python-is-powerful'

In [5]:
haystack = "banana,apple,orange"
haystack.index("apple")

7

In [6]:
haystack.replace("apple","kiwi")

'banana,kiwi,orange'

In [11]:
messy = "***Hello World***" #dought

In [20]:
clean = messy.strip("*")
print(clean)

 ***Hello World***

In [49]:
fileName = "report.pdf"

In [53]:
if fileName.startswith("report") and fileName.endswith(".pdf"):
    print("File is Valid")

File is Valid

In [54]:
str1 = "$"
str1*10

'$$$$$$$$$$'

In [55]:
item = "Laptop"
price = 999.99

In [56]:
print(f"Item : {item} | price : {price}")

Item : Laptop | price : 999.99

# Practice Questions: Lists

1.	Creation and Access: Create a list named planets containing the names of four planets. Print the entire list, and then print only the third planet using its index.
2.	Modification and Deletion: Given the list tasks = ["buy milk", "clean house", "pay bills", "wash car"]. First, change the second item to "buy bread". Then, delete the last item using the del keyword. Print the final list.
3.	Appending and Inserting: Start with an empty list called schedule. Use the .append() method to add two items. Then, use the .insert() method to place a third item at the beginning (index 0). Print the resulting list.
4.	Slicing - Sublist: Given the list numbers = [10, 20, 30, 40, 50, 60], create and print a new list called middle containing only the elements 20,30,40, and 50 using slicing.
5.	Iteration with for loop: Write a for loop to iterate over the list fruits = ["apple", "banana", "cherry"] and print each fruit name on a separate line.
6.	Checking for Membership: Write a conditional statement that checks if the string "lemon" is present in the list citrus = ["orange", "grapefruit", "lime"]. Print "Lemon found!" if true, otherwise print "No lemon here."
7.	Sorting and Reversing: Given scores = [95, 78, 88, 92, 85], use a method to sort the list in ascending order (in-place). Then, use another method to reverse the order of the sorted list. Print the final result.
8.	Finding and Counting: Given the list items = ['A', 'B', 'A', 'C', 'B', 'A']. Print the index of the first occurrence of 'C'. Then, print the total count of the element 'A'.
9.	List Copying (Shallow): Create a list original = [1, 2, 3]. Create a shallow copy of this list named new_list (do NOT use simple assignment =). Change the second element of new_list to 99. Print both original and new_list to show they are independent.
10.	Nested Lists and Access: Create a list named matrix that contains two nested lists: the first nested list should be [1,2], and the second should be [3,4]. Write the code to access and print the number 4.

In [57]:
planet = ["Earth","Mars","Saturn","Venus"]

In [58]:
print(planet)

['Earth', 'Mars', 'Saturn', 'Venus']

In [60]:
planet[2]

'Saturn'

In [61]:
tasks = ["buy milk", "clean house", "pay bills", "wash car"]
tasks[1] = "buy bread"

In [62]:
tasks

['buy milk', 'buy bread', 'pay bills', 'wash car']

In [63]:
del(tasks[3])

In [64]:
tasks

['buy milk', 'buy bread', 'pay bills']

In [74]:
schedule = []

In [75]:
schedule.append("Class")

In [76]:
schedule.append("batminton Practice")

In [77]:
schedule.insert(0,"Running")

In [78]:
schedule

['Running', 'Class', 'batminton Practice']

In [79]:
numbers = [10, 20, 30, 40, 50, 60]

In [82]:
middle = numbers[1:5]

In [83]:
middle

[20, 30, 40, 50]

In [84]:
fruits = ["apple", "banana", "cherry"]

In [85]:
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [91]:
citrus = ["orange", "grapefruit", "lime","lemon"]

In [92]:
if "lemon" in citrus:
    print("Lemon present in list")
else:
    print("Lemon is not present in list")

Lemon present in list

In [93]:
ans = "yes" if "lemon" in citrus else "No"
print(ans)

yes

In [94]:
scores = [95, 78, 88, 92, 85]

In [95]:
scores.sort()

In [96]:
scores.reverse()

In [97]:
scores

[95, 92, 88, 85, 78]

In [98]:
items = ['A', 'B', 'A', 'C', 'B', 'A']

In [100]:
items.index("C")

3

In [101]:
count = 0
for i in items:
    if "A" == i:
        count += 1

print(F"Occurance of A in items is : {count}")

Occurance of A in items is : 3

In [102]:
items.count("A")

3

In [107]:
original = [1, 2, 3]

In [108]:
new_list = original.copy()

In [109]:
new_list[1] = 99

In [110]:
print(f" Original list : {original}")
print(f" New List : {new_list}")

 Original list : [1, 2, 3]
 New List : [1, 99, 3]

In [111]:
nest_l = [[1,2],[3,4]]

In [113]:
nest_l[1][1]

4

# Practice Questions: Tuples

1.	Creation and Immutability: Create a tuple named coordinates with the values (10,20). Write the code that would be used to try and change the second element to 30 (i.e., coordinates[1] = 30). What kind of error would this code produce?
2.	Access and Length: Given the tuple alphabet = ('a', 'b', 'c', 'd', 'e'), print the total number of elements in the tuple. Then, access and print the second-to-last element using negative indexing.
3.	Tuple Unpacking: Given the tuple student = ("Alice", 25, "Physics"), write a single line of code to unpack the values into three separate variables named name, age, and major. Print the value of major.
4.	Slicing: Given the tuple data = (100, 200, 300, 400, 500), extract and print a new tuple containing only the middle three elements: (200,300,400).
5.	Single-Element Tuple: Write the correct Python syntax to create a tuple named single_item that contains only the string "Hello". Print the tuple and its type to verify its structure.
6.	Nested Tuples: Given the tuple nested_data = ( (1, 2), (3, 4), (5, 6) ), write the code to access and print the number 4.
7.	Looping: Write a for loop to iterate over the tuple colors = ('red', 'green', 'blue') and print each element on a new line, along with its length.
8.	Checking for Existence: Write a conditional statement that checks if the value 42 is present in the tuple scores = (15, 22, 42, 38). Print "Score found" if it is, and "Score not present" otherwise.
9.	Converting to List: Given the tuple immutable_data = ('a', 'b', 'c'), convert it into a mutable list named mutable_list. Add the element 'd' to the end of mutable_list. Print the final list.
10.	Finding and Counting: Given the tuple path = ('N', 'E', 'S', 'W', 'N', 'E'), use the appropriate tuple methods to find the index of the first occurrence of 'S'. Then, print the total count of the element 'N'.

In [ ]:
coordinates = (10,20)

In [115]:
coordinates[1] = 30 #mutation does not support and it will give typeerror

TypeError: 'tuple' object does not support item assignment

In [118]:
alphabet = ('a', 'b', 'c', 'd', 'e')

In [119]:
len(alphabet)

5

In [120]:
alphabet[-4:]

('b', 'c', 'd', 'e')

In [121]:
student = ("Alice", 25, "Physics")

In [124]:
name, age, major = student

In [125]:
name

'Alice'

In [126]:
major

'Physics'

In [127]:
data = (100, 200, 300, 400, 500)

In [130]:
new_data = data[1:-1]

In [131]:
new_data

(200, 300, 400)

In [136]:
single_item = ("Hello",)
item = ("Hello")

In [138]:
print(type(single_item))
print(type(item))

<class 'tuple'>
<class 'str'>

In [139]:
data = ( (1, 2), (3, 4), (5, 6) )

In [140]:
data[1][1]

4

In [141]:
colors = ('red', 'green', 'blue')

In [142]:
for i in colors:
    print(i ,len(i))

red 3
green 5
blue 4

In [1]:
scores = (15, 22, 42, 38)

In [2]:
result = "Score found" if 42 in scores else "Score not found"

In [3]:
print(result)

Score found

In [4]:
immutable_data = ('a', 'b', 'c')

In [5]:
mutable_list = list(immutable_data)

In [6]:
mutable_list.append("d")

In [7]:
mutable_list

['a', 'b', 'c', 'd']

In [8]:
path = ('N', 'E', 'S', 'W', 'N', 'E')

In [10]:
path.index("S")

2

In [11]:
path.count("N")

2

# Practice Questions: Dictionaries

1.	Creation and Access: Create a dictionary named inventory to store the count of three items: "apples" (30), "bananas" (15), and "oranges" (45). Write the code to access and print the count of "oranges".
2.	Adding and Updating: Start with the dictionary user = {'username': 'coder', 'level': 5}. Write the code to add a new key-value pair, 'score': 1000, and then update the value of 'level' to 6. Print the final dictionary.
3.	Safe Access (The .get() method): Given the dictionary config = {'timeout': 60, 'retries': 3}, write a print statement using the .get() method to retrieve the value for the key 'timeout'. Then, write another .get() call to retrieve a value for the non-existent key 'log_level', providing a default value of "INFO".
4.	Removing Items (.pop()): Given the dictionary data = {'a': 10, 'b': 20, 'c': 30}, use the .pop() method to remove the key-value pair for key 'b'. Print the value that was removed and the resulting dictionary.
5.	Iteration Over Keys: Write a for loop to iterate over the keys of the dictionary stock = {'coffee': 150, 'tea': 80, 'sugar': 200} and print each key (the item name) on a new line.
6.	Iteration Over Values: Write a for loop to iterate over the values of the stock dictionary from Question 5 and calculate the total quantity of all items. Print the total.
7.	Iteration Over Items: Write a for loop using the .items() method to iterate over both the key and value of stock. Inside the loop, print a sentence for each item in the format: "The stock for [Key] is [Value]."
8.	Nested Dictionary Access: Given the nested dictionary project = {'name': 'WebApp', 'details': {'version': 1.2, 'status': 'complete'}}, write the code to access and print the value of the nested key 'version' (i.e., 1.2).
9.	Dictionary Comprehension: Use a dictionary comprehension to create a new dictionary where the keys are the numbers 1,2,3,4, and 5, and the corresponding values are the square of the key. Print the resulting dictionary.
10.	Using .keys() and Membership: Given the dictionary settings = {'theme': 'dark', 'font': 'sans-serif'}, use the .keys() method along with the in operator to check if the dictionary contains the key 'theme'. Print whether the key was found or not.

In [12]:
# Creation and Access: Create a dictionary named inventory to store the count of three 
#items: "apples" (30), "bananas" (15), and "oranges" (45). Write the code to access and print the count of "oranges

inventry = {"apples" : 30,"bananas" : 15,"oranges" : 45}

In [16]:
inventry["oranges"]

45

In [17]:
# Que 2]
user = {"username":"Coder","Level":5}

In [19]:
user.update({"score":1000})

In [20]:
user

{'username': 'Coder', 'Level': 5, 'score': 1000}

In [21]:
user["Level"] = 6

In [22]:
user

{'username': 'Coder', 'Level': 6, 'score': 1000}

In [8]:
# Que 3
config = {'timeout': 60, 'retries': 3}

In [9]:
print(config.get("timeout"))

60

In [20]:
config.get("log_level","INFO")

'INFO'

In [9]:
# que 4]
data = {'a': 10, 'b': 20, 'c': 30}

In [10]:
removed_val = data.pop("b")

In [12]:
print(data)
print(removed_val)

{'a': 10, 'c': 30}
20

In [17]:
# Que 5
stock = {'coffee': 150, 'tea': 80, 'sugar': 200} 

for i in stock:
    print(i)

print()

for i in stock:
    print(f"{i} : {stock[i]}")

coffee
tea
sugar

coffee : 150
tea : 80
sugar : 200

In [21]:
# que 6 - referal the data from que 5
total_items = 0
for i in stock:
    total_items += stock[i]

print(F" Total Items : {total_items}")

 Total Items : 430

In [25]:
# Que 7 -
for i in stock.items():
    print(i)

print()

for j in stock:
    print(f"The stock for {j} is {stock[j]}.")

('coffee', 150)
('tea', 80)
('sugar', 200)

The stock for coffee is 150.
The stock for tea is 80.
The stock for sugar is 200.

In [30]:
# que 8-
project = {'name': 'WebApp', 'details': {'version': 1.2, 'status': 'complete'}}

# print version i.e 1.2
project["details"]["version"]

1.2

In [31]:
# Que 9- Dictionary Comprehension: Use a dictionary comprehension to create a new dictionary where the keys are the numbers 1,2,3,4, and 5,
# and the corresponding values are the square of the key. Print the resulting dictionary.

square = {i:i**2 for i in range(1,6)}

In [32]:
square

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [33]:
type(square)

dict

In [34]:
# Que 10-
settings = {'theme': 'dark', 'font': 'sans-serif'}

if "theme" in settings.keys():
    print("Key was fond")
else:
    print("Key was not found")

Key was fond

# Practice Questions: Sets
1.	Creation and Uniqueness: Create a set named unique_numbers from the following list: [5, 2, 5, 8, 2, 1]. Print the resulting set and explain why it has fewer elements than the starting list.
2.	Adding and Removing: Start with the set letters = {'a', 'b'}. Use a method to add the element 'c'. Then, use the .discard() method to remove the element 'a'. Print the final set.
3.	Union Operation: Given set_a = {1, 2, 3} and set_b = {3, 4, 5}, write the code to compute and print the union of the two sets using the pipe operator (|).
4.	Intersection Operation: Given the same sets from Question 3, write the code to compute and print the intersection of the two sets, showing the common element(s).
5.	Difference Operation: Given all_chars = {'a', 'b', 'c', 'd'} and vowels = {'a', 'e', 'i'}, write the code to find and print the set containing elements in all_chars but not in vowels (i.e., the difference).
6.	Symmetric Difference: Given list1 = [1, 2, 3, 4] and list2 = [3, 4, 5, 6]. Convert both lists to sets and then compute the symmetric difference (^) between them. Print the result.
7.	Checking Subsets: Write a conditional statement to check if small_set = {10, 20} is a subset of large_set = {10, 20, 30, 40}. Print a message indicating whether the condition is True or False.
8.	Converting from Tuple: Given a tuple of duplicate names: names_tuple = ("Tom", "Sam", "Tom", "Jane", "Sam"). Convert this tuple to a set to eliminate duplicates, then convert the result back to a list to get a sequence of unique names. Print the final unique list.
9.	Set Mutability (Conceptual): Explain in one sentence why a list, which is a mutable type, cannot be an element of a set (e.g., my_set = {1, [2, 3]}).
10.	Set Comprehension: Use a set comprehension to create a set containing the squares of all odd numbers between 1 and 10 (inclusive). Print the resulting set.

In [37]:
# Que_1
# set does not store duplicate values
unique_num = {5,2,5,8,2,1}
print(unique_num)

{8, 1, 2, 5}

In [42]:
# Que_2
letters = {"a","b"}

letters.add("c")

print(letters)

{'a', 'b', 'c'}

In [43]:
letters.discard("a")

In [44]:
letters

{'b', 'c'}

In [45]:
set_a = {1,2,3}
set_b = {3,4,5}

set_a.union(set_b)

{1, 2, 3, 4, 5}

In [47]:
print(F"union : {set_a | set_b}")

union : {1, 2, 3, 4, 5}

In [48]:
set_a.intersection(set_b)

{3}

In [49]:
all_char = {"a","b","c","d"}
vowel = {"a","e","i"}

all_char.difference(vowel)

{'b', 'c', 'd'}

In [50]:
all_char - vowel

{'b', 'c', 'd'}

In [52]:
list1 = [1,2,3,4]
list2 = [3,4,5,6]

ans = set(list1) ^ set(list2)
print(ans)

{1, 2, 5, 6}

In [53]:
small_set = {10,20}
large_set = {10,20,30,40}

#checking whether subset or not
small_set.issubset(large_set)

True

In [56]:
names_tuple = ("Tom", "Sam", "Tom", "Jane", "Sam")
final_list = list(set(names_tuple))
final_list

['Tom', 'Jane', 'Sam']

In [59]:
my_set = {1,[2,3]}

TypeError: unhashable type: 'list'

sets are immutable and list are mutable of if we store list in sets the values can be change
Sets can only store hashable (immutable) objects

In [61]:
square_set = {i**2 for i in range(0,11) if i % 2 != 0}

In [62]:
square_set

{1, 9, 25, 49, 81}