# Pyramid

In [36]:
n = 1
m = 5
for i in range(0,5):
    for j in range(0,m):
        print(" ",end = " ")
    for k in range(0,n):
        print("*",end = " ")
    n+=2
    m-=1
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

 # Right angle triangle

In [17]:
for i in range(1,9): #decide number of rows
    for k in range(0,9-i):
        print(" ",end="")
    for j in range(1,i):
        print("*",end=" ")
    print()

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

# Nmber right angle triangle

In [10]:
for i in range(1,6):
    for j in range(1,i):
        print(j,end =" ")
    print()

1
1 2
1 2 3
1 2 3 4

# Inverted right angle triangle

In [34]:
m = 6
for i in range(1,7):
    for j in range(1,m):
        print("*",end =" ")
    print()
    m-=1

* * * * *
* * * *
* * *
* *
*

# Inverted pyramid

In [31]:
n = 6
m = 0
for i in range(0,6):
    for k in range(0,m): #first printing spaces 
        print(" ",end="")
    for j in range(0,n): #then printing stars
        print("*",end = " ")
    print()
    n-=1
    m+=1

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

# Diamond pattern

In [ ]:
# upper triangle
n = 1
m = 5
for i in range(0,6):
    for j in range(0,m):
        print(" ",end="")
    for k in range(0,n):
        print("*",end=" ")
    m-=1
    n+=1
    print()

#Lower Inverted Triangle
x = 5
y = 0
for i in range(0,6):
    print(" ",end="")
    for k in range(0,y): #first printing spaces 
        print(" ",end="")
    for j in range(0,x): #then printing stars
        print("*",end = " ")
    print()
    x-=1
    y+=1

# Floydâ€™s Triangle

In [51]:
for i in range(1,6):
    for j in range(0,i):
        print(j+i,end=" ")
    print()

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

# Palindrome number Pyramid

In [81]:
m = 1
n = 5
for i in range(1,6):
    for s in range(0,n):
        print(" ",end="")
    for j in range(1,i+1):
        print(j,end="")
    for k in range(m,1,-1):
        print(k-1,end="")
    print()
    m+=1
    n-=1

     1
    121
   12321
  1234321
 123454321

# Hallow Square

In [112]:
n = 5
for i in range(0,n):
    print("*",end= " ")
print()
for j in range(0,n-2):
    for k in range(0,2):
       print("*"," "*6,end = "")
    print()
for i in range(0,n):
    print("*",end= " ")

* * * * *
*       *
*       *
*       *
* * * * *

# Butterfly Pattern

In [136]:
#upper part
n = 8
m = 2
for i in range(0,5):
    for j in range(0,m-1):
        print("*",end="")
    for k in range(0,n):
        print(" ",end="")
    for l in range(0,m-1):
        print("*",end="")
    print()
    n-=2
    m+=1

#lower part
n = 4
m = 2
for i in range(0,5):
    for j in range(0,n):
        print("*",end="")
    for k in range(0,m):
        print(" ",end="")
    for l in range(0,n):
        print("*",end="")
    print()
    n-=1
    m+=2

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

# 06-10-2025 Problems on pattern

In [1]:
str_var = "Jupyter Notebook"
a = 0
while a < len(str_var):
    print(str_var[a],end="")
    a+=1

Jupyter Notebook

# Hourglass Pattern

In [25]:
#upper part
for i in range(0,5):
    for j in range(0,i):
        print(" ",end="")
    for k in range(0,5-i):
        print("*",end=" ")
    print()

#Lower part
l=2
r=3
for m in range(0,4):
    for m in range(0,r):
        print(" ",end="")
    for o in range(0,l):
        print("*",end=" ")
    l+=1
    r-=1
    print()

* * * * *
 * * * *
  * * *
   * *
    *
   * *
  * * *
 * * * *
* * * * *

# Diamond

In [23]:
#upper part 
for i in range(0,5):
    for j in range(0,5-i):
        print(" ",end="")
    for k in range(0,i+1):
        print("*",end=" ")
    print()

#Lower part
for i in range(0,4):
    for j in range(0,i+2):
        print(" ",end="")
    for k in range(0,4-i):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

# Hallow Diamond

In [18]:
#upper part
n = 4
m = 0
print(" "*4,"*")
for i in range(0,5):
    for j in range(0,n):
        print(" ",end="")
    print("*",end=" ")
    for k in range(0,m):
        print(" ",end="")
    print("*",end=" ")
    m+=2
    n-=1
    print()

#lower part
x = 1
y = 6
for i in range(0,4):
    for i in range(0,x):
        print(" ",end="")
    print("*",end=" ")
    for k in range(0,y):
        print(" ",end="")
    print("*",end=" ")
    x+=1
    y-=2
    print()

print(" "*4,"*")

     *
    * *
   *   *
  *     *
 *       *
*         *
 *       *
  *     *
   *   *
    * *
     *