# Problems on function
# level 1
Sum of Two Numbers
ðŸ‘‰ Write a function add(a, b) that returns the sum of two numbers.

Even or Odd
ðŸ‘‰ Write a function check_even(num) that prints whether the number is even or odd.

Square of a Number
ðŸ‘‰ Write a function square(x) that returns the square of a number.

Greet User
ðŸ‘‰ Write a function greet(name) that prints "Hello <name>".

Find Maximum
ðŸ‘‰ Write a function find_max(a, b, c) that returns the largest of three numbers.

In [1]:
#Write a function add(a, b) that returns the sum of two numbers.
def add(a,b):
    return a+b

In [2]:
add(12,34)

46

In [3]:
#Write a function check_even(num) that prints whether the number is even or odd.
def check_even(num):
    if num%2 == 0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

In [4]:
check_even(12)

12 is even

In [5]:
check_even(1209)

1209 is odd

In [6]:
#Write a function square(x) that returns the square of a number.
def squ(x):
    return x**2

squ(12)

144

In [7]:
#Write a function greet(name) that prints "Hello ".
def greet(name):
    print(f"Hellow {name}")

In [8]:
greet("Akhil")

Hellow Akhil

In [9]:
# Write a function find_max(a, b, c) that returns the largest of three numbers.
def find_max(a,b,c):
    if a > b and a > c:
        print(f"{a} is largest number")
    elif b > a and b > c:
        print(f"{b} is largest number")
    else:
        print(f"{c} is largest number")

In [10]:
find_max(12,34,10)

34 is largest number

# Level 2
factorial Function
ðŸ‘‰ Write a function factorial(n) that returns the factorial of a number.

Prime Number Check
ðŸ‘‰ Write a function is_prime(num) that returns True if the number is prime, else False.

Reverse a String
ðŸ‘‰ Write a function reverse_string(s) that returns the reversed string.

Count Vowels
ðŸ‘‰ Write a function count_vowels(s) that returns how many vowels are in a given string.

Sum of Digits
ðŸ‘‰ Write a function sum_digits(n) that returns the sum of all digits in a number.

In [33]:
#Write a function factorial(n) that returns the factorial of a number.
def fact(num):
    f = 1
    if num == 0:
        return f
    else:
        for i in range(0,num):
            f = f * (num-i)
    return f

In [36]:
fact(6)

720

In [38]:
#Write a function is_prime(num) that returns True if the number is prime, else False.
def is_prime(num):
    prime = True
    if num == 1:
        prime = False
    else:
        for i in range(2,num):
            if num % i == 0:
                prime = False
    return prime

In [39]:
is_prime(7)

True

In [40]:
is_prime(12)

False

In [41]:
is_prime(11)

True

In [42]:
is_prime(2)

True

In [43]:
is_prime(31)

True

In [57]:
#Write a function reverse_string(s) that returns the reversed string.
def reverse_string(s):
    #return s[::-1]
    rev_str = []
    s_lst = list(s)

    #print(s_lst)
    for i in range(0,len(s)):
        rev_str.append(s_lst.pop())

    return "".join(rev_str)

In [58]:
reverse_string("python")

['p', 'y', 't', 'h', 'o', 'n']

'nohtyp'

In [62]:
#Write a function count_vowels(s) that returns how many vowels are in a given string.
def count_vowel(s):
    count = 0
    
    for ch in s:
        if ch.lower() in ["a","e","i","o","u"]:
            count+=1
            
    return count

In [65]:
count_vowel("Apple")

2

In [68]:
#Write a function sum_digits(n) that returns the sum of all digits in a number.
def sum_digit(n):
    s = 0
    
    num = str(n)
    for i in num:
        s = s + int(i)

    return s

In [73]:
sum_digit(876)

21

# Level 3:
Greeting with Default Name
ðŸ‘‰ Write a function welcome(name="Guest") that prints "Welcome, <name>".

Add Any Number of Numbers
ðŸ‘‰ Write a function add_all(*args) that returns the sum of all numbers passed to it.

Display Student Info
ðŸ‘‰ Write a function student_info(**kwargs) that accepts name, age, and course and prints them nicely.

Mix of Arguments
ðŸ‘‰ Write a function intro(name, age=18, *hobbies, **details) that prints:

name and age

all hobbies

and other details (like city, college, etc.)

Calculate Average Marks
ðŸ‘‰ Write a function average_marks(*marks) that returns the average of all marks passed.

In [74]:
#Greeting with Default Name -Write a function welcome(name="Guest") that prints "Welcome, ".
def welcome(name="Guest"):
    print(f"Welcome {name}")

In [75]:
welcome()

Welcome Guest

In [76]:
welcome("Sanket")

Welcome Sanket

In [79]:
#Write a function add_all(*args) that returns the sum of all numbers passed to it.
def add_all(*a):
    print(a)
    return sum(a)

In [80]:
add_all(1,2,3,44,5)

(1, 2, 3, 44, 5)

55

In [86]:
#Write a function student_info(**kwargs) that accepts name, age, and course and prints them nicely.
def stu_info(**a):
    return a

In [87]:
stu_info(name="Achal",age=23,cource="Btech")

{'name': 'Achal', 'age': 23, 'cource': 'Btech'}

In [3]:
#Write a function intro(name, age=18, *hobbies, **details) that prints:
def intro(name,age=18,*hobbies,**details):
    
    print("Name :",name)
    print("Age :",age)
    print("Hobies :",hobbies)
    print("Details :",details)

intro("Rahul Shastri",23,"gaming","Singing","Swmming",address="Nagpur",education="BTech in Mechanical",college="NITK")

Name : Rahul Shastri
Age : 23
Hobies : ('gaming', 'Singing', 'Swmming')
Details : {'address': 'Nagpur', 'education': 'BTech in Mechanical', 'college': 'NITK'}

In [11]:
#Write a function average_marks(*marks) that returns the average of all marks passed.
def get_avg(*marks):
    print("Total marks :",sum(marks))
    print(len(marks))
    return sum(marks)/len(marks)

In [12]:
print("Average of marks is",get_avg(78,98,76,66,100))

Total marks : 418
5
Average of marks is 83.6

# Level 4:

Temperature Converter
ðŸ‘‰ Write a function convert_temp(temp, scale) that converts temperature between Celsius and Fahrenheit.

Palindrome Checker
ðŸ‘‰ Write a function is_palindrome(word) that checks if a string reads the same backward.

Simple Calculator
ðŸ‘‰ Write a function calculator(a, b, operation) that performs addition, subtraction, multiplication, or division based on user input.

Count Words in a Sentence
ðŸ‘‰ Write a function count_words(sentence) that counts and returns the number of words.

Find Minimum & Maximum in a List
ðŸ‘‰ Write a function find_min_max(lst) that returns both the smallest and largest elements in a list.

In [31]:
#Write a function convert_temp(temp, scale) that converts temperature between Celsius and Fahrenheit.
def convert_temp(temp,scale):
    S_temp = 32
    if scale == "Fahrenheit":
        S_temp = ((9/5)*temp) + 32   
    elif scale == "Kelvin":
        S_temp = temp + 273.15
        
    return S_temp

In [32]:
convert_temp(50,"Kelvin")

323.15

In [33]:
#Write a function is_palindrome(word) that checks if a string reads the same backward.
def is_palindrome(word):
    flag = False
    if word == word[::-1]:
        flag = True

    return flag

In [34]:
is_palindrome("121")

True

In [35]:
is_palindrome("Aman")

False

In [36]:
#Write a function calculator(a, b, operation) that performs addition, subtraction, multiplication, or division based on user input.

def calculator(a,b,operation):
    if operation == "+":
        return a+b
    elif operation == "-":
        return a-b
    elif operation == "*":
        return a*b
    elif operation == "-":
        return a - b

a = int(input())
b = int(input())
opr = input()
calculator(a,b,opr)

 12
 23
 +

35

In [14]:
#Write a function count_words(sentence) that counts and returns the number of words.
def count_words(sentence):
    count = 0
    ls = list(sentence)
    print(ls)

    for ch in ls:
        if ch == " ":
            continue
        else:
            count+=1
    return count

In [16]:
count_words("Sanket Maraskolhe")

['S', 'a', 'n', 'k', 'e', 't', ' ', 'M', 'a', 'r', 'a', 's', 'k', 'o', 'l', 'h', 'e']

16

In [17]:
#Write a function find_min_max(lst) that returns both the smallest and largest elements in a list.
def find_min_max(num_ls):
    new_ls = []
    new_ls.append(min(num_ls))
    new_ls.append(max(num_ls))

    return new_ls

In [18]:
find_min_max([12,33,22,10,77])

[10, 77]